*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    outline: none;
    border: 0;
    font-family: "IRANSans";
    text-decoration: none;
    direction: rtl;
}

 #wrapper {
    width: 100%;
    background:#202020;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:white;
   
}
#page-inner {
    width:100%;
    /*margin:10px 20px 10px 0px;*/
    background-color:#fff!important;
    padding:10px;
    min-height:1200px;
}

.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}
h2 {
    color: #f00;
}
h4 {
    padding-top:10px;
}

p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}
/*==============================================
   DASHBOARD STYLES    
    =============================================*/
.panel-back {
    background-color:#F8F8F8;

}


.text-box p{
    margin: 0 0 3px;
}

.bg-color-green {
background-color: #00CE6F;
color: #fff;
}
 .bg-color-blue {
background-color: #A95DF0;
color: #fff;
}
  .bg-color-red {
background-color: #DB0630;
color: #fff;
}
  .bg-color-brown {
background-color: #B94A00;
color: #fff;
}

.no-underline{
    text-decoration:none;
}

/*==============================================
    MENU STYLES    
    =============================================*/


.user-image {
    margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:170px;
max-width:170px;
}

.navbar-cls-top .navbar-brand {
	color: #fff;
background: #C90000;
width: 260px;
text-align: center;
height: 60px;
font-size: 30px;
font-weight: 700;
}
.active-menu {
    background-color:#C90000!important;
}



.active > a > .fa.arrow:before {
    content: "\f107";
}


.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color:#fff;
	background:#202020;
	text-shadow:none;
	
}
.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	
	background:#0A0A0A;
	outline:0;
}


.navbar-side {
	border:none;
	background-color: #202020;
	
}
.navbar-cls-top {
	background:#4D4D4D;
	border-bottom:none;
    margin-bottom: 0;
	
}
.navbar-cls-top .navbar-brand:hover {

background: #C90000;
color:#fff;

}

.navbar-default {
border:0px solid black;
     
}
.navbar-header {
    background: #A70303;
}
.navbar-header-logout{
    color: white;
    padding: 15px 50px 5px 50px;
    float: left;
    font-size: 16px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #B40101;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}

/*css for reservation*/
.panelTitle{
    text-align: center;
    font-weight: 300;
    line-height: 1;
    margin: 0 0 20px 0;
}

.panel{
    border:1px solid #ddd;
    margin: 0 0 10px 0;
    background: white;
}

.panelContent{
    padding: 15px;
    text-align: center;
    line-height: 50px;
}
.customerContent{
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: 20px;
    background: #f4f4f4;
}
.customerInfo{
    padding: 15px;
}
.formLabel{
    font-size: 12px;
    color: #666;
}
.addField{
    padding: 0 6px 0 0;
    text-align: center;
}
.addFieldContent{
    margin-top: 20px;
    padding: 15px;
}
.addFieldLabel{
    padding: 10px 15px;
    background-color: #FFF;
    margin-bottom: 10px;
}
.addFieldBtn{
    position: relative;
    padding: 0;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.20);
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #ededed;
    height: 43px;
    width: 32%;
    margin: 0 2px 0 0 !important;
    padding-left: 38px;
}
.addFieldSpan{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 42px;
    height: 42px;
    border-right: 1px solid #e2e2e2;
}
.addFieldSVG{
    width: 16px;
    height: 16px;
    margin: 8.5px;
    fill: #397ff6;

}
/*passenger info*/
.passsengerContent{
    border: 1px solid #d6e9c6;
    border-radius: 3px;
    background: white;
    margin-top: 15px;
}

.passengerHeader{
    background: #646464;
    border-bottom: 1px solid #646464;
}
.passengerHeader h4{
    padding: 10px;
    font-size: 13px;
    margin: 0px;
    color: white;
}
.passengerPastPassenger{
    float: left;
    margin-top: 10px;
    padding-left: 20px;
}
.passengerContent{
    border: 1px solid #646464;
    border-radius: 3px;
    background: white;
    margin-top: 20px;
}
.passengerInfo{
    padding: 10px;
}
.passengerBtn{
    margin-top: 20px;
    margin-bottom:20px;
}

/*end css of reservation*/

/*start css for flight*/
#searchBoxContent{
    background: #5F5D5D;padding: 15px;text-align: center;margin-bottom: 30px;border-radius: 3px
}
.searchResult{
    margin:15px 15px 15px 15px;
}
#contentResult{
    visibility: hidden;
}

/*end css of flight*/
/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:768px) {
     #page-wrapper{
               margin: 0 260px 0 0;
        padding: 15px 30px;
        min-height: 1200px;
		
    }
	
	
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

   .navbar {
 border-radius: 0px; 
}
   
}


